<ion-tabs >

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="md-stats"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actividades">
      <ion-icon name="md-stopwatch"></ion-icon>
      <ion-label>Actividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bitacora">
      <ion-icon name="md-clipboard"></ion-icon>
      <ion-label>Bitácora</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
